# Stable serial aliases for tracer3.
SUBSYSTEM=="tty", KERNEL=="ttyUSB*", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", ATTRS{serial}=="d47277e1c263ec11b2784debee680de7", GROUP:="dialout", MODE:="0660", SYMLINK+="imu"
SUBSYSTEM=="tty", KERNEL=="ttyUSB*", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="A92X382Q", GROUP:="dialout", MODE:="0660", SYMLINK+="force_sensor"
